*{
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}
body{
    color: #ededed;
    background: #081b29;
}
.header{
    position: fixed;
    top: 0;left:0;
    width: 100%;
    padding: 20px 10%;
    background:#081b29 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000000;
}
.logo{
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration:none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;

}
.navbar a{
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration:none;
    font-weight: 500;
    margin-left: 25px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--1));
}
.navbar a:hover{
    color: #0ef;
}
.pic1 {
    position: relative;
    bottom: 100px;
}
.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(./Slide1.PNG) no-repeat;
background-size: cover;
background-position: center;
display: flex;
align-items: center;
padding: 70px 10% 0;
}
.home-content {
    max-width: 600px;
}
.home-content h3{
    font-size: 32px;
    font-weight: 70;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}
.home-content h3:nth-of-type(2){
 margin-bottom: 30px;
 animation: slideTop 1s ease forwards;
 animation-delay: .7s;
}
.home-content h3 span{
  color: #0ef;
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .1s;
}

    .home-content p {
        font-size: 20px;
        opacity: 0;
        animation: slideLeft 1s ease forwards;
        animation-delay: 1s;
    }
    .home-sci a{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background: transparent;
        border:2px solid #0ef ;
        border-radius: 50%;
        font-size: 20px;
        color: #0ef;
        text-decoration: none;
        margin: 30px 15px 30px 0;
        transition: .5s ease;
        opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--1));
    }
    .home-sci a:hover {
        background: #0ef;
        color: #081b29;
      box-shadow: 0 0 20px #0ef;

    }
    .btn-box{
        display: inline-block;
        padding: 12px 28px;
        background: #0ef;
        border-radius: 40px;
        font-size: 16px;
        color: #081b29;
        letter-spacing: 1px;
        text-decoration: none;
        font-weight: 600;
        opacity: 0;
        animation: slideTop .5s ease forwards;
        animation-delay: 2s;
        box-shadow: 0 0 5px cyan,
        0 0 25px cyan
    }
    .btn-box:hover{
        box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 100px cyan
    }
    .about{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 1.5rem;

    }
    .about-img img{
        padding-bottom: 20px;
        max-width: 630px;
        height: auto;
        width: 100%;
        border-radius: 8px;
    }
    .about-text h2 {
        font-size: 60px;
    }
    .about-text h2 span{
        color: #0ef;
    }
    .about-text h4{
        font-size: 29px;
        font-weight: 600;
        color: #fff;
        line-height: 1.7;
        margin: 15px 0 30px;

    }
    .about-text p {
        color: aliceblue;
        font-size: 20px;
        line-height: 1.4;
        margin-bottom: 4rem;
    }


    .heading{
        font-size: 4rem;
        padding-top: 1rem;
        color:#0ef;
       
      }
      
      .heading span{
        
        color:white;
        
      }


    .service .box-container{
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        text-transform: capitalize;
        background-color: none;
      }
      .service .box-container .box{
        flex: 1 1 30rem;
        text-align: center;
        padding: 2rem;
       
        border-radius: 0.5rem;
        box-shadow:0 .5rem 1rem #0ef ;
      }
           
      .service .box-container .box i{
        height: 4rem;
        width: 4rem;
        line-height: 4rem;
        font-size: 1.8rem;
        color: #fff;
        background-color: #0ef ;
        border-radius: 50%;
      }
      .service .box-container .box h3{
       color:white ;
        font-size: 2rem;
        padding-top: .5rem;
      } 
      .service .box-container .box p{
      
        color: white;
        font-size: 1.7rem;
        padding-top: .5rem;
      }
      
.about .row-1{

    gap: 4rem;
    padding-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
  }
  
  .about .row-1 .image{
    flex: 1 1 25rem;
  }
  .about .row-1 .image img{
    height: 100%;
    width:100%;
    object-fit: cover;
  }
  .about .row-1 .content{
    flex: 1 1 50rem;
  } 
  .about .row-1 .content h3{
    font-size: 3.6rem;
    color: #333;
  
  }
  .about .row-1 .content p{
    font-size: 1.6rem;
    color: #666;
    padding: .2rem 0;
  
  }
  .about .row-1 .content .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 0.5rem 0;
  }
  .about .row-1 .content .box-container .box{
  flex: 1 1 20rem;
  
  }
  .about .row-1 .content .box-container .box span{
    color: rgb(180, 16, 52);
  }
  
  #mymail{
    text-transform: lowercase !important;
  }
  .about .row-2{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  .about .row-2 .skills{
    flex: 1 1 40rem;
  }
  
  .about .row-2 .progress{
    padding: 1rem 0;
  }
  .about .row-2 .progress h3{
  font-size: 1.6rem;
    display: flex;
    color: black;
    font-weight: 390;
    justify-content: space-between;
    padding: .8rem 0;
  
  
  }
  
  .about .row-2 .progress .bar{
    background: #c3bbbb;
    height: 1rem;
    overflow: hidden;
    width: 100%;
    border-radius: 50rem;
  }
  .about .row-2 .progress .bar span{
    display: block;
    height: 100%;
    background:rgb(180, 16, 52) ;
    border-radius: 50rem;
  }
  .about .row-2 .progress:nth-child(1) .bar span{
    width: 78%;
  }
  .about .row-2 .progress:nth-child(2) .bar span{
    width: 60%;
  }
  .about .row-2 .progress:nth-child(3) .bar span{
    width: 68%;
  }
  .about .row-2 .progress:nth-child(4) .bar span{
    width: 80%;
  }
  
  
  
  
  .about .row-2 .box-container{
    flex: 1 1 40rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  .about .row-2 .box-container .box{
    flex: 1 1 15rem;
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: 0.5rem 1rem rgba(0,0,0,.3);
  }
  .about .row-2 .box-container .box h3{
    color:rgb(180, 16, 52) ;
    font-size: 3rem;
  
  }
  .about .row-2 .box-container .box p{
    color: #211d1d;
    font-size: 1.7rem;
  }
  
      
.experience .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    background-color: none !important;
  
  }
  
  .experience .box-container .box{
    position: relative;
    flex: 1 1 33rem;
  border-left: .2rem solid #0ef ;
  padding-left:2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  
  }
  .experience .box-container .box::before{
  content: '';
  position: absolute;
  top: 0;
  left: -1rem;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: #0ef  ;
  
  
  }
  
  .experience .box-container .box .content{
  
    background: none;
    padding: 1.5rem;
    box-shadow: 0 .5 1rem #0ef(0,0,0,.1);
    border-radius: .5rem;
  
  }
  .experience .box-container .box .content span{
  color: white;
  font-size: 1.7rem;
  background-color: #0ef ;
  border-radius: 50rem;
  padding: .5rem 1rem ;
  
  }
  
  .experience .box-container .box .content h3{
  font-size: 2.5rem;
  padding: .5rem 0;
  color: white;
  
  }
  
  .experience .box-container .box .content p{
    font-size: 1.8rem;
   
    color: white;
    
    }
  
      








    @keyframes slideRight {
        0%{
            transform: translateX(-100px);
            opacity:0;
        }
        100%{
            transform: translateX(0px);
            opacity:1;
        }
        
        
    }
    @keyframes slideLeft {
        0%{
            transform: translateX(100px);
            opacity:0;
        }
        100%{
            transform: translateX(0px);
            opacity:1;
        }
        
        
    }
    @keyframes slideTop {
        0%{
            transform: translateY(100px);
            opacity:0;
        }
        100%{
            transform: translateY(0px);
            opacity:1;
        }
        
    }
    @keyframes slideBottom {
        0%{
            transform: translateY(-100px);
            opacity:0;
        }
        100%{
            transform: translateY(0px);
            opacity:1;
        }
        
    }
    




